.App {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Karla', cursive;
}

.App-link {
  color: #09d3ac;
  font-family: 'Karla', cursive;
}
